venv/
__pycache__/
checkpoint-*.gguf
main.log
lora.bin
game_of_life_dataset.jsonl
train_data.txt
game-of-life-v1.gguf
game-of-life-v2.gguf
game-of-life-v3.gguf
game-of-life-v4.gguf
game-of-life-v5.gguf
